@model IEnumerable<NamaShow.Core.VeiwModels.Landing.MovieListForLanding>
@using NamaShow.DataLayer.Entities.Categorie;
@{
    ViewData["Title"] = "Index";
    List<Categorie> cats = ViewBag.Categories;
}
<section class="after-head d-flex section-text-white position-relative">
    <div class="d-background" data-image-src="http://via.placeholder.com/1920x1080" data-parallax="scroll"></div>
    <div class="d-background bg-black-80"></div>
    <div class="top-block top-inner container">
        <div class="top-block-content">
            <h1 class="section-title">Movies list</h1>
            <div class="page-breadcrumbs">
                <a class="content-link" href="#">Home</a>
                <span class="text-theme mx-2"><i class="fas fa-chevron-right"></i></span>
                <span>Movies</span>
            </div>
        </div>
    </div>
</section>
<!-- start of content -->
<section class="section-long">
    <div class="container">


        <!--end of content-->


        <a class="scroll-top disabled" href="#"><i class="fas fa-angle-up" aria-hidden="true"></i></a>


        <div class="section-pannel">
            <div class="grid row">
                <div class="col-md-10">
                    <form autocomplete="off">
                        <div class="row form-grid">
                            <div class="col-sm-6 col-lg-3">
                                <div class="input-view-flat input-group">
                                    <select class="form-control" name="genre">
                                        <option selected>genre</option>
                                        @foreach (var item in cats)
                                        {
                                            <option>@item.Title</option>
                                        }
                                        @*
                                            <option>adventure</option>
                                            <option>crime</option>
                                            <option>detective</option>
                                            <option>drama</option>
                                            <option>melodrama</option>
                                            <option>romance</option>
                                            <option>superhero</option>
                                            <option>supernatural</option>
                                            <option>thriller</option>
                                            <option>sport</option>
                                            <option>historical</option>
                                            <option>horror</option>
                                            <option>musical</option>
                                            <option>sci-fi</option>
                                            <option>war</option>
                                        *@
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-3">
                                <div class="input-view-flat date input-group" data-toggle="datetimepicker" data-target="#release-year-field">
                                    <input class="datetimepicker-input form-control" id="release-year-field" name="releaseYear" type="text" placeholder="release year" data-target="#release-year-field" data-date-format="Y" />
                                    <div class="input-group-append">
                                        <span class="input-group-text"><i class="fas fa-calendar-alt"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-3">
                                <div class="input-view-flat input-group">
                                    <select class="form-control" name="sortBy">
                                        <option selected>sort by</option>
                                        <option>name</option>
                                        <option>release year</option>
                                        <option>rating</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-2 my-md-auto d-flex">
                    <span class="info-title d-md-none mr-3">Select view:</span>
                    <ul class="ml-md-auto h5 list-inline">
                        <li class="list-inline-item">
                            <a class="content-link transparent-link" href="movies-blocks.html"><i class="fas fa-th"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a class="content-link transparent-link active" href="movies-list.html"><i class="fas fa-th-list"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        @foreach (var item in Model)
        {

            <article class="movie-line-entity">
                <div class="entity-poster" data-role="hover-wrap">
                    <div class="embed-responsive embed-responsive-poster">
                        <img class="embed-responsive-item" src="~/MovieFile/moviePicture/NormalMoviePicture/@item.MoviePicture" />
                    </div>
                    <div class="d-over bg-theme-lighted collapse animated faster" data-show-class="fadeIn show" data-hide-class="fadeOut show">
                        <div class="entity-play">
                            <a class="action-icon-theme action-icon-bordered rounded-circle" href="" data-magnific-popup="iframe">
                                <span class="icon-content"><i class="fas fa-play"></i></span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="entity-content">
                    <h4 class="entity-title">
                        <a class="content-link" href="~/MovieDetail?id=@item.MovieId">@item.Title</a>
                    </h4>
                    <div class="entity-category">
                        @foreach (var CatMovie in item.CatMovies)
                        {
                            if (cats.Any(c => c.CategorieId == CatMovie.CategorieId))
                            {
                                string title = cats.Where(c => c.CategorieId == CatMovie.CategorieId)
                                    .Select(c => c.Title).SingleOrDefault();
                                <a class="content-link" href="movies-blocks.html">@title</a><span>,</span>
                            }
                        }

                    </div>
                    <div class="entity-info">
                        <div class="info-lines">
                            <div class="info info-short">
                                <span class="text-theme info-icon"><i class="fas fa-star"></i></span>
                                <span class="info-text">@item.Imdb</span>
                                <span class="info-rest">/10</span>
                            </div>
                            @if (item.MovieType == NamaShow.DataLayer.Entities.Movie.MovieType.Movie)
                            {
                                <div class="info info-short">
                                    <span class="text-theme info-icon"><i class="fas fa-clock"></i></span>
                                    <span class="info-text">@item.Time</span>
                                    <span class="info-rest">&nbsp;min</span>
                                </div>
                            }
                        </div>
                    </div>
                    <p class="text-short entity-text">
                        @item.Describe
                    </p>
                </div>
            </article>
        }

    </div>
</section>
